body {
  text-align: center;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 15px 0;
}

li button {
  margin-left: 10px;
  position: relative;
  bottom: 2px;
}

label {
  display: block;
  text-align: right;
  margin: 5px auto;
  max-width: 375px;
}

label input {
  margin-left: 10px;
  width: 250px;
  padding: 5px;
}

.signup-container,
.signin-container,
.logout-container {
  max-width: 375px;
  margin: 0 auto;
}

.signin-container,
.logout-container {
  margin-top: 40px;
  padding-top: 30px;
  border-top: 1px solid black;
}